@font-face {
    font-family: 'Harabara';
    src: url('webfonts/Harabara.woff2') format('woff2'),
        url('webfonts/Harabara.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('webfonts/Montserrat-Bold.woff2') format('woff2'),
        url('webfonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('webfonts/Montserrat-Regular.woff2') format('woff2'),
        url('webfonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Austere';
    src: url('webfonts/Austere.woff2') format('woff2'),
        url('webfonts/Austere.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

