body{
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
}

li a,button{
    font-family: 'Harabara';
    font-weight: bold;
    font-style: normal;
    font-size: large;
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Harabara';
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    letter-spacing: 1px;
}